* {
    margin: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
   font-size: 0.875em;
    line-height: 1.6em;
}

header {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 210px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    justify-content: flex-start;
}

article {
    padding: 10px;
    color: #4d4ba0;
    background: #EEE;
    display: flex;
}

aside {
    padding: 5px;
    color: #4d4ba0;
    background: #EEE;
    display: flex;
}

div {
    display: flex;
    flex-wrap: wrap;
}

article>p {
    margin: 10px;
    text-shadow: 0px 0px 0px black;
}

nav ul {
    flex-wrap: wrap;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 3px;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    display: block;
    width: 80px;
    height: 20px;
    background: blue;
    color: yellow;
    text-align: center;
    text-decoration: none;
    border-radius: 35%;
    box-shadow: 4px 4px 5px black;
    transition: 0.5s;
}

ul li a:hover {
    background: yellow;
    color: black
}

ul {
    display: flex;
}

li {
    flex: 0 0 auto;
    margin: 8px;
}

aside {
    display: block;
    width: 100%;
}

.red {
    color: red;
}

footer p {
    text-align: center;
}